<mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12" rowspan="1">
        <h1>Game's Title</h1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="5"></mat-grid-tile>

    <mat-grid-tile colspan="6" rowspan="6">
        <p>About the game<br><br>
            You are a Grey Warden, one of the last of a legendary order of guardians. With the return of an ancient foe and the kingdom engulfed in civil war, you have been chosen by fate to unite the shattered lands and slay the archdemon once and for all.
            <br><br>
            A Stunning World to Explore
            <br>
            BioWare’s deepest universe to date with over 80 hours of gameplay and more than double the size and scope of Mass Effect
            Travel throughout dozens of environments and fully immerse yourself in a shattered world that is on the brink of utter annihilation
            An epic story that is completely shaped and reactive to your play style
            <br><br>
            Complex Moral Choices
            <br>
            There are no easy choices
            Tailor your Dragon Age: Origins experience from the very beginning by choose from six different Origin Stories
            Decide how to handle complex issues like murder, genocide, betrayal, and the possession/sacrificing of children without the security of a good/bad slider to tell you what to do
            <br><br>
            Full Character Customization
            <br>
            Sculpt your hero in your own image or fantasy
            Elaborate character creator allows you to create your own hero unique from anyone else
            Shape your character’s personality and morality based on the choices you make throughout the game
            <br><br>
            Engage in Bone-Crushing, Visceral Combat
            <br>
            Battle against massive and terrifying creatures
            Unleash legendary powers and choose from over 100 different magical spells and skills
            Experience the adrenaline rush of brutal combat, beheading your foes or casting spells that make enemies explode from within
        </p>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="5"></mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3" class="matTechnicalDetails">
        <div class="technicalDetails">
            <p>Title : </p>
            <p>Genre : </p>
            <p>Developer : </p>
            <p>Publisher : </p>
            <p>Release Date : </p>
            <p>Languages : </p>
            <p>Price : </p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile colspan="9" rowspan="1">
        <p>un blabla pour test</p>
    </mat-grid-tile>

</mat-grid-list>
