p, span {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

h1 {
  color: #fb1f1f;
  text-align: center;
  margin-top: 50px;
}

.pictureGame {
  max-width: 500px;
  height: auto;
  align-content: normal;
}

