<mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12" rowspan="1">
        <h1>{{ game.title }}</h1>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="5"></mat-grid-tile>

    <mat-grid-tile colspan="7" rowspan="6">
        <p>{{ game.description }}</p>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="5"></mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan="3" class="matTechnicalDetails">
        <div class="technicalDetails">
            <p>Title : {{ game.title }}</p>
            <p>Genre : {{ game.genre }}</p>
            <p>Developer : {{ game.developer }}</p>
            <p>Publisher : {{ game.publisher }}</p>
            <p>Release Date : {{ game.releaseDate }}</p>
            <p>Languages : {{ game.languages }}</p>
        </div>
    </mat-grid-tile>

</mat-grid-list>

<mat-grid-list cols="12" rowHeight="100px">

    <mat-grid-tile colspan="12" rowspan="1">
        <div class="commercialDetails">
            <p>Price : {{ game.price }}€</p>
            <button mat-raised-button routerLink="#" color="warn">Add to Cart</button>
            <button mat-raised-button (click)="editGame(this.game)" color="warn">Edit</button>
            <button mat-raised-button (click)="delete(this.game)" color="warn">Delete</button>
        </div>
    </mat-grid-tile>

</mat-grid-list>
