<p>data-table works!</p>

<!-- When we have only rough data, we can use *ngFor to display all the data,
 If we have some columns with action button or specific action, we have to write all columns of the table -->

<table mat-table [dataSource]="dataTableSource" matSort class="mat-elevation-z8">
  <ng-container *ngFor="let col of columnsToDisplay" [matColumnDef]="col">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col | titlecase }}</th>
    <td mat-cell *matCellDef="let element">
      {{ element[col] | titlecase }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
