<mat-grid-list cols="1" rowHeight="150px">
    <mat-grid-tile>
    <h1>Create a new game</h1>
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="12" rowspan="10">
        <form [formGroup]="gameForm" class="createForm" (ngSubmit)="onSubmit()">

            <mat-form-field class="form-full-width">
                <input matInput formControlName="title" placeholder="Title" name="title" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="genre" placeholder="Genre" name="genre" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="developer" placeholder="Developer" name="developer" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="publisher" placeholder="Publisher" name="publisher" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="releaseDate" placeholder="Release Date" name="releaseDate" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <textarea matInput formControlName="description" placeholder="Description" name="description" rows="10" required></textarea>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="price" placeholder="Price" name="price" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="languages" placeholder="Languages" name="languages" required>
            </mat-form-field>

            <mat-form-field class="form-full-width">
                <input matInput formControlName="pictureURL" placeholder="Picture URL" name="pictureURL" required>
            </mat-form-field>

            <button mat-flat-button color="warn" type="submit">Create</button>
        </form>
    </mat-grid-tile>
</mat-grid-list>

