<div class="container">
    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <h1>Welcome to the Video Game Store !</h1>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
            <p>See all the video games available :</p>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list cols="12" rowHeight="100px">


        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>


        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
        <a routerLink="details" class="gameLinkCard">
            <mat-card class="gameCard">
                <mat-card-title>Game Title</mat-card-title>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>Description of the game</p>
                    <p>Editor : EA</p>
                    <p>Price : 39£</p>
                </mat-card-content>
            </mat-card>
        </a>
    </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

        <mat-grid-tile colspan="3" rowspan="5">
            <a routerLink="details" class="gameLinkCard">
                <mat-card class="gameCard">
                    <mat-card-title>Game Title</mat-card-title>
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>Description of the game</p>
                        <p>Editor : EA</p>
                        <p>Price : 39£</p>
                    </mat-card-content>
                </mat-card>
            </a>
        </mat-grid-tile>

    </mat-grid-list>

</div>
