<h1>Welcome to the Video Game Store !</h1>

<p>See all the video games available :</p>

<mat-card class="gameCard">
    <mat-card-title>Game Title</mat-card-title>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>Description of the game</p>
        <p>Editor : EA</p>
        <p>Price : 39£</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button class="addButton">ADD</button>
    </mat-card-actions>
</mat-card>
