<div>

    <div class="row">
        <div class="col s2 m2">
            <div class="card">
                <div class="card-image">
                    <img src="https://via.placeholder.com/200">
                    <span class="card-title">Game's Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">+</i></a>
                </div>
                <div class="card-content">
                    <p>Description of the video game you look.</p>
                </div>
            </div>
        </div>
    </div>

</div>
