.addButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.homeLink {
    position: fixed;
    top: 30px;
    left: 30px;
}

.cartButton {
    position: fixed;
    top : 100px;
    left: 30px;
}
