<div class="container">

    <div class="pictureBackground">
        <mat-grid-list cols="1" rowHeight="300px">
            <mat-grid-tile>
                <h1 class="textColor">Welcome to the Video Game Store !</h1>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <mat-grid-list cols="1" rowHeight="15:1">
        <mat-grid-tile>
            <p>See all the video games available :</p>
        </mat-grid-tile>
    </mat-grid-list>

    <mat-grid-list role="list" cols="12" rowHeight="1:1">

        <mat-grid-tile role="listitem" *ngFor="let game of games, index as gameID" colspan="3" rowspan="4">
            <div class="gameCard">
                <a routerLink="game/{{ game.id }}" class="gameLinkCard">
                    <mat-card>
                        <mat-card-title>{{ game.title }}</mat-card-title>
                        <img mat-card-image class="pictureGame" src="{{ game.pictureURL }}" alt="Picture of the game">
                        <mat-card-content>
                            <p>Developer : {{ game.developer }}</p>
                            <p>Publisher : {{ game.publisher }}</p>
                            <p>Price : {{ game.price }}€</p>
                        </mat-card-content>
                    </mat-card>
                </a>
            </div>
        </mat-grid-tile>

    </mat-grid-list>

</div>
