p {
    font-family: 'Open Sans', sans-serif;
}

.pictureBackground {
    background-image: url("/assets/Picture/DA_Inquisition.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    margin-bottom: 10px;
}
.textColor {
    color: #fb1f1f;
    text-align: center;
    transform: translateY(120px);
}

.introList {
    text-align: center;
    color: #FFFFFF;
}
.gameLinkCard {
    text-decoration: none;
}

.gameCard {
    width: 300px;
    height: 350px;
    margin-top: 50px;
}

.pictureGame {
    max-width: 300px;
    height: 200px;
    object-fit: contain;
}
